body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #FF0000;
}
.yellow{
    background-color: #FFFF00;
}
.purple{
    background-color: #A020F0;
}
.green{
    background-color: #008000; 
}

.flash{
    background-color: white;
}